.error404{
  font-size: 100px;
  text-align: center;
}


.login {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.intake, .search {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.navLink, .navLink:hover {
  color: white;
  text-decoration: none;
}

.report {
  margin-top: 5px;
  margin-bottom: 20px;
}

.actionButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.alert-hidden {
  margin-top: 20px;
  opacity: 0;
  transition: all 250ms linear 1s;
}

.alert-shown {
  margin-top: 20px;
  opacity: 1;
  transition: all 250ms linear;
}

.Alert-Div{
  height: 75px;
}